<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../src/res/css/bootstrap.min.css" type="text/css">

    <!-- Meu Estilo -->
    <link rel="stylesheet" href="../../src/res/css/facilconsulta.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar">
            <div class="col-12 offset-md-4 col-md-4 offset-lg-6 col-lg-3 offset-xl-8 col-xl-2">
                <button>Cadastro de Médico</button>
            </div>
        </nav>
        <!-- Quebra de linha-->
        <div class="w-100"></div>

        <main>
            <div class="form-block">
                <form class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                    <h1>Cadastro de médico</h1>
                    <div>
                        <label for="form-name">Nome</label>
                        <input id="form-name" type="text" placeholder="Insira o nome do profissional" maxlength="255"
                            required minlength="6">
                    </div>
                    <div>
                        <label for="form-email">E-mail</label>
                        <input id="form-email" type="email" placeholder="exemplo@dominio.com.br" maxlength="255"
                            required minlength="6">
                    </div>
                    <div>
                        <label for=" form-password">Senha</label>
                        <input id="form-password" type="password" placeholder="Escolha uma senha forte e segura"
                            maxlength="255" required minlength="6">
                    </div>
                    <div>
                        <button type=" submit">Realizar Cadastro</button>
                    </div>
                    <div>
                        <a href="#">Voltar para a Página Inicial</a>
                    </div>
                </form>
            </div>
        </main>


    </div>

    <!-- FIM DO CÓDIGO -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../src/res/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../../src/res/js/js/popper.min.js"></script>
    <script src="../../src/res/js/js/bootstrap.min.jss"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>

    <!-- Meu Código -->
    <script src="#" type="text/javascript"></script>
</body>

</html>