<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../src/res/css/bootstrap.min.css" type="text/css">

    <!-- Meu Estilo -->
    <link rel="stylesheet" href="../../src/res/css/facilconsultaresponsive.css" type="text/css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar row">
            <div class="col-12 offset-md-4 col-md-4 offset-lg-6 col-lg-3 offset-xl-8 col-xl-2">
                <button>Cadastro de Medico</button>
            </div>
        </nav>
        <!-- Quebra de linha-->
        <div class="w-100"></div>

        <main>
            <div class="lista-medicos">
                <div class="medico col-12 offset-md-2 col-md-8">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h1 class="text-center-sm">Dr. João Augusto de Alcântara</h1>
                        </div>
                        <div class="col-12 col-sm-6">
                            <button>Editar Cadastro</button>
                            <button>Configurar Horários</button>
                        </div>
                    </div>
                    <!-- Quebra de linha-->
                    <div class="w-100"></div>
                    <nav>
                        <ul class="horarios">
                            <li>16/11/2020 às 07:00</li>
                            <li>16/11/2020 às 08:00</li>
                            <li>16/11/2020 às 09:00</li>
                            <li>16/11/2020 às 10:00</li>
                            <li>16/11/2020 às 11:00</li>
                            <li>16/11/2020 às 12:00</li>
                            <li>16/11/2020 às 13:00</li>
                            <li>16/11/2020 às 14:00</li>
                        </ul>
                    </nav>
                </div>
                <!-- Quebra de linha-->
                <div class="w-100"></div>
            </div>
        </main>


    </div>

    <!-- FIM DO CÓDIGO -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../src/res/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../../src/res/js/js/popper.min.js"></script>
    <script src="../../src/res/js/js/bootstrap.min.jss"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>

    <!-- Meu Código -->
    <script src="#" type="text/javascript"></script>
</body>

</html>