@font-face {
    font-family: signika;
    src: url("../../res/fonts/Signika/Signika-VariableFont_wght.ttf");
}


/*Geral da Pagina*/
body {
    background-color: rgb(239, 239, 239);
    font-family: signika, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
/*FIM Geral da Pagina*/

/*Menu do Topo*/
nav.menu {
    width: 100%;
    height: 5em;
    margin-bottom: 3em;
    background-color: #0094CF;
}

nav.menu div {
    margin: 0 auto;
}

nav.menu a {
    width: 0;
    height: 0;
    text-decoration: none;
}

nav.menu a:hover {
    text-decoration: none;
}

nav.menu button {
    display: block;
    white-space: nowrap;

    width: auto;
    height: 2.5em;
    
    border: 1px solid transparent;
    border-radius: 5px;

    text-align: center;

    transform: translateY(50%);

    margin: 0 auto;

    padding-left: 1em;
    padding-right: 1em;

    color: #0094CF;
    background-color: #fff;
    font-size: 1em;
    text-decoration: none;
}

nav.menu button:hover {
    background-color: #004768;
    color: #fff;
    text-decoration: none;
}
/*FIM Menu do Topo*/

/*Editar e Criar Médico Templates*/
form.criar-editar {
    margin-top: 3em;
    padding-top: 1em;
    background-color: #fff;
}

form.criar-editar h1 {
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    color: #004768;
    padding-bottom: 0.5em;
}

form.criar-editar div {
    white-space: nowrap;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

form.criar-editar label {
    font-size: 0.9em;
    color: #004768;
    font-weight: 500;
    font-weight: 700;
}

form.criar-editar input {
    display: block;
    white-space: nowrap;

    width: 100%;
    height: 2.5em;

    border: 1px solid rgb(217, 217, 217);
    
    margin: 0 auto;

    text-align: left;
    
    padding: 0.4em;
    padding-left: 0.6em;

    font-size: 0.9em; 

}

form.criar-editar ::placeholder {
    color: rgb(160, 160, 160);
}

form.criar-editar button {
    display: block;
    white-space: nowrap;

    width: auto;
    height: 3em;

    border: 1px solid transparent;
    border-radius: 5px;

    margin: 0 auto;
    margin-top: 2.5em;
    
    text-align: center;

    padding-left: 2.5em;
    padding-right: 2.5em;

    color: #fff;
    background-color:#0094CF;

}

form.criar-editar button:hover {
    background-color: #004768;
}

form.criar-editar a {
    display: block;
    
    margin: 0 auto;
    margin-bottom: 0.5em;

    text-align: center;

    font-size: 0.8em;
    text-decoration: underline;
    color: rgb(43, 166, 215);

}
/*FIM Editar e Criar Médico Templates*/

 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) { 
    
    /*Menu do Topo Responsividade*/
    nav.menu button {
        float: right;
        margin-right: 26%;
        font-size: 1em;
    }
    /*FIM Menu do Topo Responsividade*/

    /*Editar e Criar Médico Templates Responsividade*/
    form.criar-editar {
        width: 60%;
        margin: 0 auto;
    }
    /*FIM Editar e Criar Médico Templates Responsividade*/

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /*Editar e Criar Médico Templates Responsividade*/
    form.criar-editar {
        width: 40%;
        margin: 0 auto;
    }
    /*FIM Editar e Criar Médico Templates Responsividade*/
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /*Editar e Criar Médico Templates Responsividade*/
    form.criar-editar {
        width: 25%;
        margin: 0 auto;
    }
    /*FIM Editar e Criar Médico Templates Responsividade*/

}