@font-face {
    font-family: signika;
    src: url("../fonts/Signika/Signika-VariableFont_wght.ttf")
}

body {
    background-color: rgb(239, 239, 239);
    font-family: signika, Arial, Helvetica, sans-serif;
    font-size: 1.3em;

}

nav {
    width: 100%;
    height: 5em;

    margin-bottom: 3em;

    background-color: #0094CF;

}

nav button {
    display: block;
    white-space: nowrap;

    width: auto;
    height: 2.5em;
    
    border: 1px solid transparent;
    border-radius: 5px;

    text-align: center;

    transform: translateY(60%);

    margin: 0 auto;

    padding-left: 1em;
    padding-right: 1em;

    color: #0094CF;
    background-color: #fff;
    font-size: 1em;

}

nav button:hover {
    background-color: #004768;
    color: #fff;

}

nav button:active {
    background-color: #004768;
    color: #fff;

}

form h1 {
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    color: #004768;
    padding-bottom: 0.5em;

}

form {
    margin-top: 3em;
    padding-top: 1em;
    background-color: #ffffff;

}

form div {
    white-space: nowrap;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;

}

form label {
    font-size: 0.9em;
    color: #004768;
    font-weight: 500;

}

form input {
    display: block;
    white-space: nowrap;

    width: 100%;
    height: 2.5em;

    border: 1px solid rgb(217, 217, 217);
    
    margin: 0 auto;

    text-align: left;
    
    padding: 0.4em;
    padding-left: 0.6em;

    font-size: 0.9em;
    
}

form input::placeholder {
    color: rgb(170,170,170);

}

form button {
    display: block;
    white-space: nowrap;

    width: auto;
    height: 3em;

    border: 1px solid transparent;
    border-radius: 5px;

    margin: 0 auto;
    margin-top: 2.5em;
    
    text-align: center;
    vertical-align: middle;

    padding-left: 2.5em;
    padding-right: 2.5em;

    color: #fff;
    background-color:#0094CF;

}

form button:hover {
    background-color: #004768;
}

form button:active {
    background-color: #004768;
}

form a {
    display: block;
    
    margin-bottom: 0.5em;

    text-align: center;

    font-size: 0.8em;
    text-decoration: underline;
    color: rgb(43, 166, 215);

}

.lista-medicos {
    background-color: #fff;

}


div .lista-medicos {
    margin-bottom: 1em;
}

.infomedico div h1 {
    display: block;
    white-space: nowrap;

    width: auto;

    text-align: center;
    
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    color: #004768;
    font-size: 1.1em;
    font-weight: bolder;

}

.infomedico button {
    display: block;
    white-space: nowrap;

    width: auto;
    height: 2em;

    border: 2px solid #0094CF;
    border-radius: 5px;

    text-align: center;

    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;

    padding-left: 1em;
    padding-right: 1em;

    color: #0094CF;
    background-color:#fff;
    font-size: 1em;

}


.horarios ul {
    padding:0;
    margin:0 auto;
    list-style:none;
    text-align: center;

}


.horarios ul li {
    display: inline-block;
    white-space: nowrap;

    width: 10em;

    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

}

.horarios ul li button {    
    border: 1px solid transparent;
    border-radius: 5px;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    color: #fff;
    background-color:#0094CF;

    text-align: justify;
}

div .horarios-cadastrados {
    margin-top: 2em;
    background-color: #fff;
    width: 100%;
}

.horarios-cadastrados h1 {
    display: block;
    white-space: nowrap;

    width: auto;

    text-align: center;
    
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    color: #004768;
    font-size: 1.1em;
    font-weight: bolder;
}

.horarios-configurados ul{
    padding:0;
    margin:0 auto;
    list-style:none;
    text-align: center;
    margin-bottom: 2em;
}

.horarios-configurados ul li {
    white-space: nowrap;

    border-bottom: 1px solid rgb(170,170,170);;

    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    color: #004768;

    overflow: hidden;

}

.horarios-configurados ul li p {
    float: left;
    margin-left: 1em;
    margin-bottom: 0;
}

.horarios-configurados ul li a {
    color: red;
    float: right;
    margin-right: 1em;
    margin-bottom: 0;
    text-decoration: underline;
}

.horarios-configurados ul li a:hover {
    color: #aa0000;
}



 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) { 

    nav button {
        float: right;
        margin-right: 26%;
        font-size: 1em;
    }

    form {
        width: 60%;
        margin: 0 auto;
    }

    div .horarios-cadastrados {
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 3em;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

    form {
        width: 40%;
        margin: 0 auto;
    }

    .lista-medicos {
        width: 70%;
        margin: 0 auto;
    }


    .infomedico {
        overflow: hidden;
    }


    .infomedico div h1 {
        float: left;

        margin-left: 1em;
        margin-right: 1em;
        margin-top: 0.5em;
    }

    .infomedico button {
        float: right;

        margin-bottom: 1em;
        margin-right: 2em;
        margin-top: 2em;

        vertical-align: middle;

        font-size: 0.6em;
    }


    .infobuttons {
        text-align: center;
    }

    .horarios li {
        font-size: 0.8em;
    }

    .form-left {
        float: left;
        margin-left: 9%;
    }

    .horarios-cadastrados div {

    }
    
    div .horarios-cadastrados {
        float: right;
        width: 40%;
        margin-top: 0;
        margin-right: 9%;
    }

    .horarios-configurados {
        margin-top: 0;
    }
    

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    form {
        width: 25%;
        margin: 0 auto;
    }

    .form-left {
        width: 30%;
        margin-left: 19%;
    }

    div .horarios-cadastrados {
        width: 30%;
        margin-right: 19%;
    }

    .lista-medicos {
        width: 55%;
        margin: 0 auto;
    }

}
